<main>
    <section class="container">
        <div class="ajuda">
            <h1 class="titulo-faq">FAQ</h1>
            <dl class="lista-faq">
                <dt class="ativo">Como faço para saber em qual classe estou?</dt>
                <dd class="ativa-faq"><span>R:</span> Na secretaria da escola haverá alguém para auxília-lo e levá-lo até sua classe. </dd>
                <dt>Como é a didática dos professores?</dt>
                <dd>
                    <span>R:</span> Os professores sempre irão seguir a norma do Ministério da educação, trazendo sempre os
                    melhores conteúdos e conhecimentos para as aulas.
                </dd>
                <dt>Como posso acompanhar as atividades que os professores derem na escola?</dt>
                <dd><span>R:</span> Assim que foi efetuado o login, tera uma sessão de "Tarefas" e por lá sera postada as atividades. </dd>
                <dt>Como faço para me comunicar com a secretária, alunos e afins?</dt>
                <dd><span>R:</span> Logo estaremos adicionando um "chat" em tempo real para a realização da comunicação entre aluno e professores. </dd>
            </dl>
        </div>
    </section>
</main>