@model IEnumerable<ACPEFINAL.Models.Duvida>

@{
    ViewData["Title"] = "AreaAjuda";
}


<main class="ajuda">
    <section class="container">
        <div class="container-ajuda">
            <h1 class="titulo-faq">FAQ</h1>
            <dl class="lista-faq">
                @foreach (var item in Model)
                {

                    <dt class="ativo pergunta">@item.Pergunta</dt>
                    <dd class="ativa-faq resposta"><span>R:</span> @item.Resposta </dd>
                }
            </dl>

            <span>Não achou sua duvida?</span>
            <a asp-controller="Home" asp-action="Pergunte">Pergunte-nos</a>
        </div>
    </section>
</main>