@{
    ViewData["Title"] = "Home Page";
}
<script src="https://kit.fontawesome.com/2a95663450.js" crossorigin="anonymous"></script>
<link href="~/css/equipe.css" rel="stylesheet" />


<div class="container">
    <div class="content">
        <div id="carouselExampleDark" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
                <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item carousel-item-next carousel-item-start" data-bs-interval="5000">
                    <img src="~/img/1.png" class="d-block w-100" alt="inscrições abertas para o vestibular" />
                </div>
                <div class="carousel-item" data-bs-interval="5000">
                    <img src="~/img/2.png" class="d-block w-100" alt="inscrições abertas para o vestibular" />
                </div>
                <div class="carousel-item active carousel-item-start">
                    <img src="~/img/3.png" class="d-block w-100" alt="inscrições abertas para o vestibular" />
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<section class="container">
    <div class="fundo-equipe">
        <h1 class="titulo-equipe">Conheça nossa equipe</h1>
        <p>Aqui você encontra os responsáveis pelo projeto educação,</p>
        <p>com a intenção de criar uma parceria entre instituição e estudantes.</p>
        <div class="wrapper">
            <div class="card-equipe">
                <img src="img/jhow.jfif" alt="Jhonata S. programer team leader">
                <h2>Jhonata S.</h2>
                <p>Programer Team Leader</p>
                <div class="redes-sociais">
                    <a target="_blank" href="https://www.linkedin.com/in/jhonata-aleixo-santos/"><i class="fa-brands fa-linkedin"></i></a>
                    <a target="_blank" href="https://github.com/Jhowpg"><i class="fa-brands fa-github"></i></a>
                    <a target="_blank" href="https://www.instagram.com/jhonata_has/"><i class="fa-brands fa-square-instagram"></i></a>
                    <a target="_blank" href=""><i class="fa-brands fa-google-plus"></i></a>
                </div>
            </div>
            <div class="card-equipe">
                <img src="img/Gabs.jpg" alt="Gabriel C. Scrum Team">
                <h2>Gabriel C.</h2>
                <p>Scrum Team</p>
                <div class="redes-sociais">
                    <a target="_blank" href="https://www.linkedin.com/in/gabriel-camargo-norberto-2a2a741a1/"><i class="fa-brands fa-linkedin"></i></a>
                    <a target="_blank" href=""><i class="fa-brands fa-github"></i></a>
                    <a target="_blank" href="https://www.instagram.com/gabriel_norberto/"><i class="fa-brands fa-square-instagram"></i></a>
                    <a target="_blank" href=""><i class="fa-brands fa-google-plus"></i></a>
                </div>
            </div>
            <div class="card-equipe">
                <img src="img/Boss.jfif" alt="Leticia F. Scrum Master">
                <h2>Leticia F.</h2>
                <p>Scrum Master</p>
                <div class="redes-sociais">
                    <a target="_blank" href=""><i class="fa-brands fa-linkedin"></i></a>
                    <a target="_blank" href=""><i class="fa-brands fa-github"></i></a>
                    <a target="_blank" href=""><i class="fa-brands fa-square-instagram"></i></a>
                    <a target="_blank" href=""><i class="fa-brands fa-google-plus"></i></a>
                </div>
            </div>
            <div class="card-equipe">
                <img src="img/Bagueti.jpg" alt="Paulo S. Designer">
                <h2>Paulo S.</h2>
                <p>Designer</p>
                <div class="redes-sociais">
                    <a target="_blank" href="https://www.linkedin.com/in/psrcruz/"><i class="fa-brands fa-linkedin"></i></a>
                    <a target="_blank" href=""><i class="fa-brands fa-github"></i></a>
                    <a target="_blank" href="https://www.instagram.com/paulosrc/"><i class="fa-brands fa-square-instagram"></i></a>
                    <a target="_blank" href=""><i class="fa-brands fa-google-plus"></i></a>
                </div>
            </div>
            <div class="card-equipe">
                <img src="img/Alee.jfif" alt="Alexandre treinee">
                <h2>Alexandre M.</h2>
                <p>Trainee</p>
                <div class="redes-sociais">
                    <a target="_blank" href="https://www.linkedin.com/in/alee-meier/"><i class="fa-brands fa-linkedin"></i></a>
                    <a target="_blank" href="https://github.com/Aleezitu"><i class="fa-brands fa-github"></i></a>
                    <a target="_blank" href="https://www.instagram.com/aleezitu/"><i class="fa-brands fa-square-instagram"></i></a>
                    <a target="_blank" href=""><i class="fa-brands fa-google-plus"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>