.inf-basica, .inf-contato {
    border: 1px solid #f5f5f5;
    padding: 20px 20px;
    margin: 50px 0;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.img-perfil{
    display:flex;
    justify-content:center;
}
    .img-perfil img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 500px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 8px 0px, rgba(60, 64, 67, 0.15) 0px 1px 5px 1px;
    }

.label > h3{
    font-size:2rem;
}
.label > span{
    font-size:1.6rem;
    margin-bottom:30px;
    text-decoration:dashed;
}
.conteudo p{
    font-size:1.3rem;
}
.label{
    margin:15px 0;
}
